.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
/*
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
*/

/*
 * Extra utilities
 */

table {
  border-width:0.5px; 
  border-style: dotted; 
  border-color:black;
  margin-left: auto;
  margin-right: auto;
  }

td { 
  border-width:0.5px;
  border-style:dotted; 
  border-color:black;
  width:200px;
  text-align: center;
  }

.slideshow {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 3px solid #F2F2F2;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
  width: 300%;
  height: 300px;
  padding:0; margin:0;
  list-style: none;
}

.slideshow li {
  float: left;
}

.superposition {
  top:20%; 
  left: 10%;
  right: 10%;
  bottom: 50%;
  z-index:2;
  opacity: 70%;
  font-size: 300%;
  font-family: 'Monotype Corsiva', cursive;
}

.cine-pose {
  text-align: center;
  font-size: 500%;
  text-shadow: 5px 5px 2px rgba(230, 230, 250, 0.192);
  color:aliceblue;
  font-family: 'Broadway', cursive;
}


#event:hover{
  color: crimson;
  cursor: pointer;
}

#carte {
  position: absolute;
  height: 500px;
  width: 650px;
  margin-top: 0%;
  margin-left: 40%;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
