<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ciné Posé - Accueil</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/product/">


  <!-- CSS links-->
  <link href="C:/Users/utilisateur/Desktop/Projet/css/bootstrap.min.css" rel="stylesheet">
  <link href="C:/Users/utilisateur/Desktop/Projet/css/product.css" rel="stylesheet">
</head>

<body>

  <!--script src="C:/Users/utilisateur/Desktop/Projet/js/nav.js"></script-->
  <nav class="site-header sticky-top py-1">
    <div class="cine-pose">Ciné Posé</div>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" href="C:/Users/utilisateur/Desktop/Projet/templates/index.html">Accueil</a>
      <a class="py-2 d-none d-md-inline-block" href="C:/Users/utilisateur/Desktop/Projet/pages/films.html">Films</a>
      <a class="py-2 d-none d-md-inline-block"
        href="C:/Users/utilisateur/Desktop/Projet/pages/events.html">Evénements</a>
      <a class="py-2 d-none d-md-inline-block"
        href="C:/Users/utilisateur/Desktop/Projet/pages/trouver-cine.html">Rechercher un cinéma</a>
      <a class="py-2 d-none d-md-inline-block" href="C:/Users/utilisateur/Desktop/Projet/pages/avis.html">Avis</a>
      <a class="py-2 d-none d-md-inline-block"
        href="C:/Users/utilisateur/Desktop/Projet/pages/connexion.html">Connexion</a>
    </div>
  </nav>

  <!--{% include "base/header.html"  %}-->

  <section>

    <!--Caroussel : Défilement d'images-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="C:/Users/utilisateur/Desktop/Projet/images/image-index-31.jpg"
            alt="First slide">
          <p class="overflow-hidden text-center bg-light p-lg-5 display-4 font-weight-normal superposition">Vivez
            l'expérience...</p>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="C:/Users/utilisateur/Desktop/Projet/images/image-index-2.jpg"
            alt="Second slide">
          <p class="overflow-hidden text-center bg-light p-lg-5 display-4 font-weight-normal superposition"
            style="font-family: 'Broadway', cursive;">Ciné Posé
          </p>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="C:/Users/utilisateur/Desktop/Projet/images/image-index-4.jpg"
            alt="Third slide">
          <p class="overflow-hidden text-center bg-light p-lg-5 display-4 font-weight-normal superposition">... le
            cinéma comme vous l'entendez !</p>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!--div class="position-relative overflow-hidden text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Ciné Posé</h1>
      <p class="lead font-weight-normal">Un cinéma qui VOUS correspond, comme VOUS le voyez.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div-->


  <!--div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Encart publicitaire</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Film à l'affiche</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div-->

  <script src="C:/Users/utilisateur/Desktop/Projet/js/footer.js"></script>

  <!--
  <script src="./Product example · Bootstrap_files/jquery-3.4.1.slim.min.js.téléchargement"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="./Product example · Bootstrap_files/bootstrap.bundle.min.js.téléchargement"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script> -->

  <!--Défilement des images-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</body>

</html>